N8N Lesson 1 - Telegram Agent.json
{
  "name": "N8N Lesson 1 - Telegram Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        -32
      ],
      "id": "38667f21-98b3-4996-bcde-8ca7d1d7c724",
      "name": "Telegram Trigger",
      "webhookId": "37ff3936-d763-4510-85d2-a51efc48c83d",
      "credentials": {
        "telegramApi": {
          "id": "jBc9c4fvZVkotyWe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "bbf5b23f-bdad-40d0-8d57-9a7cbcab115f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "metin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0d937539-2310-40d8-8ea9-5d2607c8d501",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ses"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -560,
        -192
      ],
      "id": "8eed57fd-d6e2-4b11-b7e9-bf8ba3fcb157",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ee4bd21-7c56-4409-a528-e72adb1304ea",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -272
      ],
      "id": "0008c640-1619-48d0-9c77-b433c3807d8e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -400,
        0
      ],
      "id": "fd2b9d86-b157-4485-ac40-b20d6f920ad6",
      "name": "Get a file",
      "webhookId": "4cd8ac56-6f7c-4b0d-ada5-4237b8c0feac",
      "credentials": {
        "telegramApi": {
          "id": "jBc9c4fvZVkotyWe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        0
      ],
      "id": "46d9d6d2-9f59-452a-abef-84daa425f00e",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "4Rm2h4E37OMZOyNX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text}} ||{{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        -176
      ],
      "id": "413249db-18e6-4d61-b8c4-862e658f11db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        96
      ],
      "id": "7f1eecf5-9224-4425-8450-8c21f36140d2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "4Rm2h4E37OMZOyNX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "19911991",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        48
      ],
      "id": "a80fa1c8-100a-4015-8709-2df72846bb47",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -176
      ],
      "id": "794cbce2-6aba-4f01-b137-0bf94a498230",
      "name": "Send a text message",
      "webhookId": "c8bd4936-b12e-4e8b-be27-9c4186beed77",
      "credentials": {
        "telegramApi": {
          "id": "jBc9c4fvZVkotyWe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        272,
        96
      ],
      "id": "d64df68e-852a-45e3-8689-da72590ab274",
      "name": "Send a message in Gmail",
      "webhookId": "471e9a32-c57a-45e8-9246-46df8aaa10d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "FGm0FZvLmpT6FFja",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        400,
        96
      ],
      "id": "f36a0ac1-d5c5-45aa-9532-656cc5ff0368",
      "name": "Get many messages in Gmail",
      "webhookId": "8620bffa-0cd6-4b9e-a379-96d0d8183774",
      "credentials": {
        "gmailOAuth2": {
          "id": "FGm0FZvLmpT6FFja",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ad2431e-e5ba-4c90-a5c5-0c27772723fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d705a9ce0fa14ee5ebe4653e2e7ed6df64537ba0abeb31024a2a1aede17ce683"
  },
  "id": "ZDT3TJtVVmX8srws",
  "tags": []
}